*/src/CMakeLists.txt
*/src/cmake-build-debug
*/src/.idea
*/test/CMakeLists.txt
*/test/cmake-build-debug
*/test/.idea
*/*/src/CMakeLists.txt
*/*/src/cmake-build-debug
*/*/src/.idea
*/*/test/CMakeLists.txt
*/*/test/cmake-build-debug
*/*/test/.idea
*/.idea
*/dist
*/Doxyhui.bat